h1 {
    font-size: 5cap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-top: 50px;
    margin-left: 95px;
    margin-bottom: auto;
}
.header-logo {
    position: absolute;
    top: 45px;
    left: 20px;
    width: 80px;
    height: 90px;
}

#Churba .title {
    text-align: left;
    font-size: 2cap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

#Churba .description {
    font-size: 1.2cap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
#map {
    width: 75%;
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid #ccc;
    place-self: center;

}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}